*{
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}

.desconto {
  height: 23px;
  width: 100%;
  background: #1CD1B0;
  font-weight: 400;
  color: #FFFFFF;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 5px;
  
}
.desconto p {
  margin-left: 27px;
}

.header {
  width: 100%;
  height: 88px;
  background: #00669F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 23px;
  display: flex;
  
}

.header h1 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  color: #FFFFFF;
  font-style: normal;
  margin-left: 35px;
  margin-top: 25px;
  
}

.header .logo {
  margin-left: 10px;
}

.menu {
  position: sticky;
  width: 100%;
  height: 40px;
  background: #001D2D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 108px;
  display: flex;
  z-index: 1;
  top: 0px;
}

nav ul {
  margin-left: 1250px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  color: #FFFFFF;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.menu li {
  margin-left: 20px; 
}

.main-page{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.container {
  width: 954px;
  height: 832px;
  margin: 30px auto;
  background: #00669F;
  border-radius: 50px;
  color: white;
}

.container h2, p{
  text-align: center;
}

.container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.container p {
  font-size: 1.25rem;
  font-weight: 200;
  margin-top: 10px;
}

.form-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0 30px;
  justify-content: space-between;
  max-width: 708px;
  max-height: 576px;
  margin: 30px auto 0;
  color: white;
}

.form-page input, textarea, label, select {
  max-width: 300px;
  border: none;
}

.title {
  font-size: 1.25rem;
  display: block;
  margin: 20px 0;
}
.input-page #especie {
  margin: 10px;
}


.input-page {
  height: 68px;
  border-radius: 15px;
  font-size: 1.25rem;
  padding: 20px 10px;
}

.form-page textarea {
  padding: 20px 10px;
  font-size: 15px;
  font-weight: 300px;
  margin-top: 30px;
  height: 250px;
  border-radius: 15px;
}

.file-page {
  margin: 30px 0 35px;
  font-size: 1.25rem;
  font-weight: 200;
}

input[type="file"]::-webkit-file-upload-button{
  background: #CECECE;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  width: 223px;
  text-align: left;
  margin-top: 15px;
}

.button {
  width: 466px;
  height: 87px;
  margin: 40px auto 0;
  text-align: center;
}

.button button {
  width: 100%;
  display: block;
  height: 100%;
  border: none;
  background: #1CD1B0;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 23px;
  transition: .3s;
}

footer p {
  color: #FFF9F9;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 20px;
}

footer {
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    height: 61px;
    top: 1050px;


}